{% extends "base/layout.html" %}
{% load bootstrap5 %}
{% block title %}
Logged out
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <p>You have been logged out.</p>

    <p><a href="/accounts/login/?next=/">Log in again?</a></p>
  </div>
</div>
{% endblock %}
