{% extends "base/layout.html" %}
{% load bootstrap5 %}
{% block title %}
Login, ye flippin' bastard
{% endblock %}

{% block banner %}
  {% include "base/_login_banner.html" %}
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>Yeah, no</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>No, really, no</p>
    {% else %}
      <p>Please log in to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    <input type="hidden" name="next" value="{{ next }}" />

    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
      <input class="btn-primary" type="submit" value="Login" />
    {% endbuttons %}
  </form>

{% endblock %}
