{% extends "base/layout.html" %}
{% load bootstrap5 %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {{ buttons }}
    <button class="btn btn-primary" type="submit">Sign Up</button>
    {{ endbuttons }}
  </form>
{% endblock %}
