@import 'base/_colors';

.lost-and-found-chooser {
  .missing, .found {
    padding: 3rem;

    font-weight: bold;
    font-size: 1.2rem;
    border: visible;
    border-radius: 1rem;
    text-align: center;

    a {
      margin-bottom: 1rem;
    }
  }
}

@mixin btn-missing {
  background-color: $missing_button_bg !important;
  color: black;
}
.missing {
  background-color: $missing_bg;

  a, input[type="submit"] {
    @include btn-missing();
  }
}

.btn-missing {
  @include btn-missing();
}

@mixin btn-found {
  background-color: $found_button_bg !important;
  color: white;
}

.found {
  background-color: $found_bg;

  a, input[type="submit"] {
    @include btn-found();
  }
}

.btn-found {
  @include btn-found();
}


@mixin btn-returned {
  background-color: $returned_button_bg !important;
  color: white;
}

.btn-returned {
  @include btn-returned();
}

.returned {
  background-color: $returned_bg;

  a, input[type="submit"] {
    @include btn-returned();
  }
}

@mixin btn-inventoried {
  background-color: $inventoried_button_bg !important;
  color: white;
}

.btn-inventoried {
  @include btn-inventoried();
}

.inventoried {
  background-color: $inventoried_bg;

  a, input[type="submit"] {
    @include btn-inventoried();
  }
}
