{% load bootstrap5 %}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Jump To Item</h5>
      </div>
      <div class="card-body">
        <form>
          {% bootstrap_form jump_form %}
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a class="btn btn-primary" href="{% url 'lost_and_found:index' %}">
          Lost and Found Home
        </a>
        {% if perms.lost_and_found.can_inventory %}
          {% if not inventory %}
          <a class="btn btn-inventoried btn-default" href="{% url 'lost_and_found:inventory' %}">
            Inventory Mode
          </a>
          {% else %}
          <a class="btn btn-inventoried btn-defult" href="{% url 'lost_and_found:index' %}">
            Exit Inventory Mode
          </a>
          {% endif %}
        {% endif %}
      </div>
    </div>

  </div>
</div>
