{% extends "base/layout.html" %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}

{% block more-css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'lost_and_found/lost_and_found.scss' %}" />
{% endblock %}

<!-- Item jump sidebar here -->
{% block left_side %}
{% include "lost_and_found/_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="card-title">
      Instructions
    </div>
  </div>
  <div class="card-body">
    <ul>
      <li>Choose your path! Is someone reporting an item they no longer have (Missing), or an item they've found (Found)</li>
      <li>Search to see if it's already been reported!</li>
      <li>Only if it has not been reported, create a new item!</li>
    </ul>
  </div>
</div>

<div class="row mt-3 lost-and-found-chooser">
  <div class="col-md-6">
    <div class="card missing">
      <div class="card-body">
        <a class="btn btn-lg"
                href="{% url 'lost_and_found:search' status='missing' %}">
          Missing Item
       </a>
        <div>I do not have the item in my hand</div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card found">
      <div class="card-body">
        <a class="btn btn-lg"
                href="{% url 'lost_and_found:search' status='found' %}">
          Found Item
        </a>
        <div>I have the item in my hand</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
