{% extends "base/layout.html" %}
{% load bootstrap5 %}
{% load static %}

{% block more-css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'lost_and_found/lost_and_found.scss' %}" />
{% endblock %}

{% block left_side %}
{% include "lost_and_found/_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_field form.category %}
      {% bootstrap_field form.description %}

      {% if status == "missing" %}
      {% bootstrap_field form.where_last_seen %}
      {% bootstrap_field form.owner_name %}
      {% bootstrap_field form.owner_contact%}
      {% endif %}

      {% if status == "found" or status == "returned" %}
      {% bootstrap_field form.where_found %}
      {% endif %}

      {% if status == "returned" %}
      {% bootstrap_field form.who_claimed %}
      {% endif %}

      {% bootstrap_field form.details %}

      <input name="found" type="hidden" value="{{form.found.value}}" />
      <input name="missing" type="hidden" value="{{form.missing.value}}" />
      <input name="returned" type="hidden" value="{{form.returned.value}}" />
      <input name="inventoried" type="hidden" value="{{form.inventoried.value}}" />

      {% buttons %}
      <input class="btn btn-primary" type="submit" value="Save" />
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
