{% extends "base/layout.html" %}
{% load bootstrap5 %}
{% load static %}

{% block more-css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'lost_and_found/lost_and_found.scss' %}" />
{% endblock %}

{% block left_side %}
{% include "lost_and_found/_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    {% bootstrap_pagination page_obj %}

    {% if inventory %}
    <h1>INVENTORY IS FOR LLAMAS</h1>
    {% else %}
    <h1>LLAMAS ARE FOR {{inventory}}</h1>
    {% endif %}

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Status</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr class="{{item.status}}"
                onclick="window.location = '{% url 'lost_and_found:detail' item.id %}'">
              <td>{{item.id}}</td>
              <td>{{item.category.name}}</td>
              <td>{{item.status | upper}}</td>
              <td>{{item.description}}</td>
            </tr>
          {% endfor %}
      </table>
    </div>

    <div>
      <a class="btn" href={{new_url}}>Create New Item</a>
    </div>
  </div>
</div>

{% endblock %}
