{% extends "base/layout.html" %}
{% load bootstrap5 %}
{% load static %}

{% block more-css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'lost_and_found/lost_and_found.scss' %}" />
{% endblock %}

{% block left_side %}
{% include "lost_and_found/_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2>{{ item.status | capfirst }} Item</h2>

    <a class="btn btn-primary"
       href="{% url 'lost_and_found:edit' item.id %}">
      Edit Details
    </a>

    <div class="card">
      <div class="card-header {{body_bg}}">
        <div class="row">
          <div class="col">Item ID: {{item.id}}</div>
          <div class="col">Category: {{item.category}}</div>
          <div class="col">Updated at {{item.modified}}
            {% if item.user %}
            by {{item.user.name}}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div><strong>Description:</strong> {{item.description}}</div>
        {% if item.missing %}
        <div><strong>Where Last Seen:</strong> {{item.where_last_seen}}</div>
        <div><strong>Owner Name: </strong> {{item.owner_name}}</div>
        <div><strong>Owner Contact:</strong> {{item.owner_contact}}</div>
        {% endif %}
        {% if item.found %}
        <div><strong>Where Found:</strong> {{item.where_found}}</div>
        {% endif %}
        {% if item.returned %}
        <div><strong>Claimed by:</strong> {{item.who_claimed}}</div>
        {% endif %}
        <div><strong>Details:</strong></div>
        <div>{{item.details}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <form action="{% url 'lost_and_found:edit' item.pk %}" class="found">
    {% if not item.returned %}
      {% if item.missing and not item.found %}
        <input type="hidden" name="found" value="True" />
        <input class="btn btn-found btn-default col" type="submit" value="Item Has Been Found" />
      {% endif %}

      {% if item.inventoried %}
        {% if inventory %}
          <a class="btn btn-inventoried btn-default col" href="{% url 'lost_and_found:inventory' %}">
            Return to Inventory
          </a>
        {% else %}
          <a class="btn btn-default col" href="javascript:history.back()">
            Back
          </a>
        {% endif %}
      {% endif %}

      {% if item.found and not inventory %}
        <input type="hidden" name="returned" value="True" />
        <input class="btn btn-returned btn-default col" type="submit" value="Item Has Been Returned" />
      {% endif %}

      {% if item.found and not item.inventoried and inventory %}
        <input type="hidden" name="inventoried" value="True" />
        <input class="btn btn-inventoried btn-default col" type="submit" value="Item Has Been Inventoried" />
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
