{% extends "base/layout.html" %}
{% load bootstrap5 %}
{% load static %}

{% block more-css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'lost_and_found/lost_and_found.scss' %}" />
{% endblock %}

{% block left_side %}
{% include "lost_and_found/_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <h1>Search for an item</h1>
  <div class="col">
    <form method="post" class="form-horizontal">
      {% csrf_token %}
      {{ form }}
      {% buttons %}
      <input class="btn btn-primary" type="submit" value="Search" />
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
