@import '_colors';

.banner {
  background-color: $green;
  color: white;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}

.thread-metadata {
  padding: 3px;
}

.emergency {
  background-color: $red;
  color: white;
}

.is_active {
  background-color: $blue;
  color: white;
}

.sticky {
  background-color: $yellow;
  color: black;
}

.logo {
  background-color: black;
}


ul.entries {
  padding: 0;
  margin-left: 1em;
  min-height: 5em;

  list-style-type: none;
  li.entry {
    margin-bottom: 1em;

    .entry_metadata {
      font-weight: bold;
      color: $dark_grey;
      .date {
        display: inline;
      }
      .volunteer {
        display: inline;
      }
    }

  }
}
