{% load static %}
<div class="{{ background_class }} banner ">
  <div class="row">
    <div class="col-2">
      <img class="logo" src="{% static 'base/ciab-logo-trans.png' %}" />
    </div>
    <div class="col">
      <div>{{ active_count }} Active Issue{{ active_count|pluralize:"s" }} (exc. sticky/secure)</div>
      <div>{% now 'd E Y H:i:s e' %}&mdash;User: {{ user }}</div>
    </div>
    <div class="col">
      <div>{{ emergency_count }} Emergenc{{ emergency_count|pluralize:"y,ies" }}
      <div>{{ medical_count }} Medical Issue{{ medical_count|pluralize:"s" }}
    </div>
  </div>
</div>
