{% load static %}
{% block banner %}
  <div class="banner">
    <div class="row">
      <div class="col">
        <img class="logo" src="{% static 'ciab-logo-trans.png' %}" />
      </div>
      <div class="col">
        <h1>Con On a Plane</h1>
      </div>
    </div>
  </div>
{% endblock %}
