{% extends 'base/layout.html' %}
{% load bootstrap5 %}
{% block content %}

<blockquote class="blockquote">
  <p>The Doctor: It says "Dig hole here!"</p>

  <p>Ace: What does it say that in?</p>

  <p>The Doctor: My handwriting! Ace, we need a hole!</p>
</blockquote>

{% endblock %}
