{% load compress %}
{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>ConOnAPlane | {% block title %}{% endblock %}</title>

  <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ajax-header.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  {% bootstrap_javascript %}
  {% bootstrap_css %}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'base/app.scss' %}" />
    {% block more-css %}
    {% endblock %}
  {% endcompress %}

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      });
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        console.log("SQUONK");
        return new bootstrap.Popover(popoverTriggerEl)
      });
    });
  </script>
</head>

<body
  hx-ext="ajax-header"
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  >

  <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
  </script>

  {% block banner %}
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          {% if user.is_authenticated %}
            <div id="banner"
                hx-ext="morph"
                hx-ext="debug"
                hx-get="/banner"
                hx-trigger="load, every 30s"
                hx-swap="morph:innerHTML"
                hx-target="#banner">
              {% include 'base/_banner.html' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block nav %}
    <div class="container-fluid">
      {% autoescape off %}
        {% bootstrap_messages %}
      {% endautoescape %}

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/log/">Main</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/log/entries/new">Log Event</a>
              </li>
              {% if perms.lost_and_found.view_item %}
              <li class="nav-item">
                <a class="nav-link" href="/lost_and_found">Lost/Found</a>
              </li>
              {% endif %}
              {% if user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/accounts/login/?next=/">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/signup/?next=/accounts/login">Sign up</a>
              </li>
            {% endif %}
            </ul>
        </div>
      </nav>
    </div>
  {% endblock %}

  <div class="container-fluid {{body_bg}}" hx-ext="morph">
    <div class="row">
      <div class="col-md-3" id="left_side">{% block left_side %}{% endblock %}</div>
      <div class="col" id="content">{% block content %}{% endblock %}</div>
    </div>
  </div>

  {% block indicia %}
    <div class="container {{ body_bg }}">
      <div class="row">
        <div class="col">
          <hr />
          <p class="text-center fs-6 fw-light"><a href="https://gitlab.com/cononaplane/cononaplane">ConOnAPlane</a> Copyright &copy; 2023 Michael Scott Shappe. See <a href="https://gitlab.com/cononaplane/cononaplane/LICENSE.md">the MIT Licence</a>.</p>
        </div>
      </div>
    </div>
  {% endblock %}

</body>

</html>
