<li class="entry" id="entry-{{ entry.pk }}">
  <div class="entry_metadata">
    <div class="date">{{ entry.created }}</div>
    <div class="volunteer">entered by {{ entry.user.realname }} ({{ entry.user }}) as {{ entry.rolename }}</div>
  </div>
  <div class="description">
    {{ entry.description|linebreaks }}
  </div>
  {% if entry.secure_information %}
    {% if not perms.log.can_read_secure_information %}
      <div class="bg-warning">This entry includes secure information</div>
    {% else %}
      <div>
        {% if not detail %}
          <button class="btn-warning">
            <a href="{% url 'log:show' pk=thread.pk %}">This entry includes secure information. Click to view on a separate page.</a>
          </button>
        {% else %}
          <div class="card">
            <div class="card-header bg-warning">
              <h3>Secure information</h3>
            </div>
            <div class="card-body">
              {{ entry.secure_information }}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</li>
