<div class="card">
  <div class="card-body bg-warning">
    <div>NOTE: This page does <strong>not</strong> auto-refresh</div>
    <div>Return to <a href="{% url 'log:index' status='active' %}">active log view</a></div>
  </div>
</div>
