{% load bootstrap_icons %}

<div class="row thread-metadata">
  <div class="col">
    {% if not no_update_button %}
      <a class="btn btn-primary" href="{% url 'log:update' pk=thread.pk %}">Update Event</a>
    {% endif %}
  </div>
  <div class="col">
    <div class="thread-metadata {{thread.status_class}}">{% bs_icon thread.status_icon %} {{ thread.status_for_header }}</div>
    <div>{{ thread.departments_for_header }}</div>
  </div>
  <div class="col">
    <div class="text-end"><strong>ID: <a href="{% url 'log:show' pk=thread.pk %}">{{ thread.pk }}</strong></a></div>
  </div>
</div>
