<div class="thread" id="thread-{{ thread.pk }}">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          {% include "log/_thread_metadata.html" %}
        </div>
        <div class="card-body">
          <ul class="entries">
            {% for entry in thread.entry_set.all %}
              {% include "log/_entry.html" %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
