{% extends 'base/layout.html' %}
{% load bootstrap5 %}

{% block content %}
{% if thread %}
<h1>Update a thread</h1>
{% else %}
<h1>Start a new thread</h1>
{% endif %}

<form method="post" role="form">
  {% csrf_token %}

  <div class="row">
    <div class="col">
      {% bootstrap_form form %}
    </div>

    <div class="col-3">
      {% bootstrap_field thread_form.status %}
      <hr />
      {% bootstrap_field thread_form.emergency %}
      {% bootstrap_field thread_form.medical %}
      {% bootstrap_field thread_form.post_con %}
      <hr />
      {% bootstrap_field thread_form.departments %}
    </div>
  </div>


  {% buttons %}
  <input class="btn btn-primary" type="submit" value="Save" />
  {% endbuttons %}
</form>

{% if thread %}
<hr>

{% include 'log/_thread.html' %}
{% endif %}

{% endblock %}
