{% extends 'base/layout.html' %}
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block left_side %}
<div class="row">
  <div class="col">
    {% if keywords or include_closed %}
    {% include "log/_no_refresh.html" %}
    {% endif %}
    <div class="card">
      <div class="card-body" id="thread-view-switcher">
        Switch to <a href="{{ switcher_url }}">{{ switch_to|capfirst }}</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="searches-card">
        <h5 class="card-title">Searches<span data-bs-toggle="popover" data-bs-content="Jump takes a Thread ID. Keywords allows a text search of entries (but not secure information)." title="Searches Help">{% bs_icon "question-circle-fill" %} </span></h5>
      </div>
      <div class="card-body">
        <form>
          {% bootstrap_form jump_form %}
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="departments-card">
        <h5 class="card-title">
          Departments
          <span data-bs-toggle="popover" data-bs-content="By default, the log displays threads from all departments to which you belong, that have logs enabled. Select specific logs here." title="Departments Help">{% bs_icon "question-circle-fill" %}</span>
        </h5>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% for dept in possible_departments %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="dept-select" value="{{dept.id}}"
                   {% if dept.id in selected_departments %}checked{% endif %} />
            <label class="form-check-label" for="dept-select">{{dept.name}}</label>
          </div>
          {% endfor %}
          <button class="mt-3 btn btn-sm btn-success">Submit</button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="conventions-card">
        <h5 class="card-title">
          Keywords and Conventions
          <span data-bs-toggle="popover" data-bs-content="You can view past conventions by selecting them from the menu. You can search text in descriptions using the blank. You can search closed threads by checking 'Include Closed'" data-bs-title="Search Help">{% bs_icon "question-circle-fill"%}</span>
        </h5>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div>
            <label class="form-label" for="convention">Currently viewing</label>
            <select class="form-select" name="convention" id="convention">
              {% for con in possible_cons %}
                <option value="{{con.id}}"
                        {% if con.id == selected_convention %}selected{% endif %}>{{con.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mt-3">
            <label class="form-label" for="keywords">Search keywords</label>
            <input class="form-control" type="text" name="keywords" value="{{keywords}}" />
          </div>
          <div class="mt-3 form-check">
            <input class="form-check-input" type="checkbox" name="include-closed" value="{{include_closed}}"
                   {% if include_closed %}checked{% endif %} />
            <label class="form-check-label" for="include-closed">Include Closed?</label>
          </div>
          <button type="submit" class="mt-3 btn btn-sm btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
  <div id="threads"
       hx-get="{{ refresh_url }}"
       hx-target="#threads"
       {% if not keywords %}hx-trigger="every 30s"{% endif %}
       hx-swap="morph:innerHTML"
  >
  {% include 'log/_threads.html' %}
  </div>
{% endblock %}
